<h2>Home</h2>

<form ng-submit="submit()" class="input-group mb-4">
    <input type="text" ng-model="protocol" class="form-control" placeholder="https">://
    <input type="text" ng-model="host" class="form-control" placeholder="hostname">:
    <input type="text" ng-model="ports" class="form-control" placeholder="port">/
    <input type="text" ng-model="path" class="form-control" placeholder="path">?
    <input type="text" ng-model="key1" class="form-control" placeholder="key">=
    <input type="text" ng-model="value1" class="form-control" placeholder="value">
    <div class="input-group-append">
        <button type="submit" class="btn btn-outline-secondary">Go</button>
    </div>
</form>

<ul class="list-group" ng-if="url">
    <li class="list-group-item">{{url}}</li>
</ul>
