<div class="row flex-fill">

  <div class="col-4 p-0">
    <header class="navbar sticky-top navbar-dark bg-dark">
      <span class="navbar-brand mb-0 h1">Topics 3</span>
      <form class="inline-form">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Add Topic">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit"><i class="fa fa-plus"></i></button>
          </div>
        </div>
      </form>
    </header>
    <div class="list-group list-group-flush">

      <a *ngFor="let topic of topics" href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" [class.list-group-item-secondary]="topic == currentTopic">
        {{topic.name}}
        <span class="badge badge-primary badge-pill" *ngIf="topic.unread">{{topic.unread}}</span>
      </a>
    </div>
  </div>
  <div class="col-8 border-left p-0 d-flex flex-column">
    <div class="p-3 flex-fill" id="messages">


      <div *ngFor="let message of currentTopic.messages" class="media p-3 mb-2"  [ngClass]="styled(message)">
        <div class="media-body">
          <em *ngIf="message.typing && !mine(message)">{{message.sender}} is typing&hellip;</em>
          <div *ngIf="!message.typing">
          <b class="mt-0" *ngIf="!mine(message)">{{message.sender}}</b>
          {{message.text}}
          </div>
        </div>
      </div>

    </div>
    <form class="navbar navbar-light bg-light border-top shadow">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Send Message">
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit"><i class="fa fa-paper-plane"></i></button>
        </div>
      </div>

    </form>
  </div>

</div>
